@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
.carousel-indicators
  display none


.loading
  background-color red


.hidden
  display none


.carousel
  max-width 600px
  max-height 400px


body
  font-family sans-serif
